DB_ROOT=/data
DB_HOST_ROOT=/root/dev
DB_EXTERNAL_ROOT=/external
DB_CONSOLE_USER=10001:10001
DB_CONSOLE_PORT=6080
CORS_ORIGINS=http://localhost:5173,http://localhost:6080
PORT=8090
AUTH_USERNAME=admin
AUTH_PASSWORD=admin123
SESSION_SECRET=please-change-this-secret
